@charset "UTF-8";

.banner{
	height: 350px;
	position: relative;
	background:#171115 url(https://cdn.jsdelivr.net/gh/lu8pw/CDN/dy/hhfuzhu/47-1P209163Q9.jpg) top center no-repeat;
	overflow: hidden;
}
.erweima{
	width:400px;
	z-index: 99;
	overflow: hidden;
	position: absolute;
	top:438px;
	right:100px;
}
.xz_ewm{
	width:175px;
	height:141px;
	background: url(../img/xz_ewm.jpg) no-repeat center;
	float: left;
	margin-top:3px;
}
.ios-download{
	display: block;
	width:211px;
	height:73px;
	border-radius: 3px;
	background: url(../img/ios-downloadss.png) 0 0 no-repeat;
	background-size: 100%;
	cursor: pointer;
	float: right;

}
.android-download{
	display: block;
	width:211px;
	height: 73px;
	border-radius: 3px;
	background-size: cover;
	cursor: pointer;
	float: right;

}
.tips{
	position: absolute;
	width: 151px;
	height: 100px;
	left: 39px;
	bottom: 8px;
	color: #fff;
}
.tips h3{
	font-size: 16px;
}
.tips p{
	margin-top: 8px;
}
.news-tips p {
    line-height: 40px;
	clear: both;
}
.news-tips a {
    font-size: 14px;
    color: #626f80;
    display: block;
    float: left;
    text-decoration: none;
    overflow: hidden;
    width: 70%;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news-tips span {
    font-size: 14px;
    color: #626f80;
    display: block;
    float: left;
}
.news-tips ins {
    font-size: 14px;
    color: #626f80;
    display: block;
    float: right;
    text-decoration: none;
}
.first {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #445464;
}
.first a {
    color: #ce8656;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.news{
	width: 1180px;
	height: 310px;
	position: absolute;
	left: calc(50% - 1180px / 2 );
	bottom: 0px;
}
.news-l{
	width: 200px;
	height: 100%;
	float: left;
}
.news-l .news-get{
	display: block;
	cursor: pointer;
	width: 100%;
	height: 50%;
	background: url(../img/news-get.jpg) 0 0 no-repeat;
	background-size: cover;
}
.news-l .news-map{
	display: block;
	width: 100%;
	height: 50%;
	background: url(../img/news-map_2.png) 0 0 no-repeat;
	background-size: cover;
}
.news-m{
	width: 580px;
	height: 100%;
	float: left;
	position: relative;
}
.news-m .swiper-container{
	width:100%;
	overflow: hidden;
}
.news-m .swiper-slide img{
	width:100%;
	cursor: pointer;
}
.news-m .swiper-pagination{
	cursor: pointer;
	position: absolute;
    left: 57%;
    top: 260px;
    z-index: 999999;
    overflow: hidden;
    height: 30px;
    width:280px;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.walkthrough-lunbo .pagination{
	cursor: pointer;
	position: absolute;
    left: 50%;
    top: 250px;
    z-index: 999999;
    overflow: hidden;
    height: 30px;
    width:110px;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.swiper-pagination-bullet{
	width:24px;
	height:24px;
	background: url(../img/lunbo-1.png) no-repeat;
	background-size:cover;
	display: block;
	float: left;
	margin-right: 2px;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background:url(../img/lunbo-2.png) !important;
}
.news-r{
	width: 400px;
	height: 100%;
	float: left;
	background-color: #11171e;
}
.news-r-top{
	width: 100%;
	height: 48px;
	background: url(../img/news-tabs-bg.png) 0 0 repeat;
	border-bottom:2px solid #445464;
}
.news-tabs{
	width: 80%;
	height: 48px;
	float: left;
}
.news-r-more{
	width: 20%;
	height: 48px;
	line-height: 48px;
	font-size: 12px;
	color: #626f80;
	float: left;
	font-family: '微软雅黑';
	cursor: pointer;
}
.news-r-more-icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 16px;
	background: url(../img/more.png) 0 0 no-repeat;
	background-size: cover;
}
.news-tabs li{
	width: 72px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	color: #626f80;
	font-family: '微软雅黑';
	cursor: pointer;
}
/*.news-tabs li:first-child{
	color: #ce8656;
	border-bottom:2px solid #ce8656;
}*/
.news .news-tabs-hover{
	color: #ce8656;
	border-bottom:2px solid #ce8656;
}
.news-tips{
	clear: left;
	display: none;
	padding: 0 22px 0 22px;
}
.news-tips li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom:1px solid #445464;
}
.news-tips li a{
	font-size: 14px;
	color: #626f80;
	text-decoration: none;
	font-family: '微软雅黑';
}
.news-tips li:first-child{
	height: 52px;
	line-height: 52px;
}
.news-tips li:last-child{
	border: none;
}
.news-tips li:first-child a{
	color: #ce8656;
	font-size: 24px;
}

/*---------------*/


.con{
	width: 100%;
	height: 1247px;
	background: url(../img/con-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	z-index: 1;
}
.con .inner{
	width: 1180px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.information-txt{
	width: 100%;
	height: 78px;
}
.information-txt .information-txt-l{
	display: block;
	margin-top: 36px;
	width: 219px;
	height: 29px;
	float: left;
	background: url(../img/infomation.png) 0 0 no-repeat;
	/*background-size: cover;*/
}
.information-txt .information-txt-r{
	display: block;
	margin-top: 36px;
	width: 58px;
	height: 16px;
	float: right;
	cursor: pointer;
	margin-right: 10px;
	background: url(../img/more-infomation.png) 0 0 no-repeat;
	/*background-size: cover;*/
}
.information-con{
	width: 100%;
	height: 400px;
	/*background-color: red;*/
}
.information-con-l{
	box-sizing: border-box;
	width: 300px;
	height: 400px;
	background: url(../img/infomation-bg.png) 0 0 repeat;
	padding: 18px 20px 0 20px;
	float: left;
}
.guozhan{
	width: 260px;
	height: 100px;
	background: url(../img/guozhan.jpg) 0 0 no-repeat;
	background-size: cover;
}
.zhanchang{
	width: 260px;
	height: 100px;
	background: url(../img/zhanchang.jpg) 0 0 no-repeat;
	background-size: cover;
}
.info-con{
	margin-top: 30px;
}
.info-con p{
	line-height: 30px;
}
.info-con a{
	display: inline-block;
	text-decoration: none;
	color: #576a7e;
	font-size: 14px;
	font-family: '微软雅黑';
}
.info-pre a{
	margin: 0 10px 0 0;
}
.info-next a{
	margin: 0 5px 0 0;
}
.information-con-r{
	width: 880px;
	height: 400px;
	background: url(../img/zhongshen-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	position: relative;
	float: left;
}

.media-dynamics{
	float: left;
	width: 480px;
	height: 400px;
	box-sizing: border-box;
}
.media-txt{
	width: 100%;
	height: 27px;
	box-sizing: border-box;
	margin-top: 38px;
	margin-bottom: 15px;
	background: url(../img/mediadynamics.png) 0 0 no-repeat;
}
.media-con{
	width: 100%;
	height: 320px;
	background-color: rgba(255,255,255,0.6);
	box-sizing: border-box;
	padding-top: 12px;
	overflow: hidden;
}
.media-news{
	width: 440px;
	height: 168px;
	margin: 0 auto;
}
.media-news li{
	width: 100%;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #c9c8c7;
}
.media-news li:last-child{
	border: none;
}
.media-news li a{
	text-decoration: none;
	font-size: 14px;
	font-family: '微软雅黑';
	color: #000;
}
.media-news-con{
	display: block;
	float: left;
}
.media-news-date{
	display: block;
	float: right;
}
.peitu{
	width: 440px;
	height: 120px;
	margin: 0 auto;
}
.peitu1{
	float: left;
	width: 220px;
	height: 100%;
	background: url(../img/peitu01.jpg) 0 0 no-repeat;
	background-size: cover;
}
.peitu2{
	float: left;
	width: 220px;
	height: 100%;
	background: url(../img/peitu02.jpg) 0 0 no-repeat;
	background-size: cover;
}
.walkthrough{
	width: 680px;
	height: 400px;
	float: right;
}
.walkthrough-icon{
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding-top: 36px;
}
.walkthrough-txt{
	width: 211px;
	height: 28px;
	float: left;
	background: url(../img/walkthrough.png) 0 0 no-repeat;
}
.walkthrough-more{
	display: block;
	width: 58px;
	height: 16px;
	float: right;
	margin-right: 10px;
	background: url(../img/more-infomation.png) 0 0 no-repeat;
}
.walkthrough-con{
	clear: both;
	width: 100%;
	height: 320px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 20px;
	background: url(../img/walkthrough-bg.jpg) 0 0 repeat;
}
.walkthrough-lunbo{
	width: 235px;
	height: 282px;
	position: relative;
	box-sizing: border-box;
	float: left;
}
.walkthrough-pic{
	cursor: pointer;
	width: 100%;
}
.walkthrough-pot{
	position: absolute;
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	bottom: 0;
	left: calc(50% - 90px / 2);
}
.walkthrough-tabs{
	float: left;
	width: 424px;
	height: 282px;
	box-sizing: border-box;
	padding: 0 20px 0 20px;
	overflow: hidden;
}
.walkthrough-tabs .news-tabs{
	width: 100%;
	border-bottom:2px solid #445464;
	margin-bottom: 10px;
}
.walkthrough-tabs .news-tabs li{
	width: 90px;
}
.walkthrough-tabs .news-tabs .walkthrough-tabs-hover{
	color: #ce8656;
	border-bottom:2px solid #ce8656;
}
.walkthrough-tabs .news-tips{
	padding: 0;
}
.walkthrough-tabs .news-tips li{
	height: 38px;
	line-height: 38px;
	text-indent: 10px;
	border-bottom: 1px solid #c6c3c0;
}
.walkthrough-tabs .news-tips li:first-child{
    height: 38px;
    line-height: 38px;
}
.walkthrough-tabs .news-tips li:first-child a{
	font-size: 14px;
    color: #626f80;
}
.photo-video{
	width: 100%;
	clear: both;
	overflow: hidden;
}
.photo-video-txt{
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding-top: 32px;
	padding-bottom: 16px;
}
.photo-txt-l{
	float: left;
	width: 204px;
	height: 22px;
	background: url(../img/photo.png) 0 0 no-repeat;
}
.photo-txt-r{
	float: right;
	width: 58px;
	height: 16px;
	padding-right: 10px;
	background: url(../img/more-infomation.png) 0 0 no-repeat;
}
.photo-video-nav{
	clear: both;
	width: 200px;
	height: 240px;
	background: url(../img/infomation-bg.png) 0 0 repeat;
	/*padding: 0 20px 0 20px;*/
	/*border-top: 4px solid #e9b876;*/
	float: left;
	overflow: hidden;
}
.photo-video-nav ul li{
	width: 100%;
	height: 60px;
	color: #9ba5af;
	line-height: 60px;
	font-family: '微软雅黑';
	font-size: 14px;
	cursor: pointer;
}
.photo-video-nav ul li p{
	margin-left: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(155, 165, 175,0.2);
	position: relative;
	height: 60px;
}
.photo-video-nav ul li:last-child p{
	border: none;
}
.photo-video-nav ul li span{
	margin-right: 26px;
	margin-left: 18px;
	position: absolute;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.photo-video-nav ul li:nth-child(1) span{
	display: inline-block;
	width: 20px;
	height: 22px;
	margin-top: 20px;
	background: url(../img/photo-icon-normal.png) 0 0 no-repeat;
}
.photo-video-nav ul li:nth-child(2) span{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-top: 20px;
	background: url(../img/photo-icon-normal.png) -19px 0 no-repeat;
}
.photo-video-nav ul li:nth-child(3) span{
	display: inline-block;
	width: 21px;
	height: 22px;
	margin-top: 20px;
	background: url(../img/photo-icon-normal.png) -40px 0 no-repeat;
}
.photo-video-nav ul li:nth-child(4) span{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-top: 20px;
	background: url(../img/photo-icon-normal.png) -61px 0 no-repeat;
}

.photo-video-nav ul li strong{
	margin-right: 26px;
	margin-left: 18px;
	position: absolute;
    left:50px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.photo-video-nav ul li:hover{
   background: url(../img/photo-nav-hover.jpg);
}
.photo-video-nav ul li p:hover .ca-icon{

}
.photo-video-nav ul li p:hover .ca-icon{
    opacity: 1;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
}
.photo-video-nav ul li p:hover .ca-main{
    opacity: 1;
    color:#000;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
}


@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}



.photo-video-right{
	float: right;
	width: 980px;
	height: 240px;
}
.photo-video-right img{
	width: 100%;
}
.wallpaper{
	display: none;
}
.wallpaper ul li{ width:325px; height: 240px; float: left; overflow: hidden}

.photo-hover{
	overflow: hidden;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: transform .5s ease;
	-moz-transition: transform .5s ease;
	-ms-transition: transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
	}
.photo-hover:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: transform .5s ease;
	-moz-transition: transform .5s ease;
	-ms-transition: transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
}

/*---------------*/
.about{
	width: 100%;
	height: 324px;
	box-sizing: border-box;
	padding-top: 20px;
	background: url(../img/scroll-bg.jpg) 0 0 repeat;
}
.scroll-hidden{
	width: 1180px;
	margin: 0 auto;
	position: relative;
}
.scroll_box{
    width:1100px;
    height:92px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
.scroll{
    width:5964px;
    height:90px;
    position: absolute;
    /*padding-left: 18px;*/
}
.scroll_box>.scroll>ul>li{
    width:170px;
    height:90px;
    margin-left:10px;
    float:left;
    background: white;
    border:1px solid #c0c0c0;
}
.scroll_box>.scroll>ul>li>a{
	width:100%;
	height:100%;
	display: block;
}
.scroll_box>.scroll>ul>li:first-child{

}
.scroll_box>.scroll>ul>li>a>img{
   width: 100%;
}
.lbbtn{
    width:25px;
    height:90px;
    position: absolute;
    top:0;
    z-index: 999;
    line-height: 120px;
    margin-top: 1px;
    background:none !important;
    cursor: pointer;
}
.leftbtn{
    left:0;
}
.rightbtn{
    right:0;
}
.guanzhu{
	width: 1180px;
	margin: 0 auto;
	height: 100px;
	margin-top: 30px;
}
.guanzhu ul li a{
	color: #464f54;
	text-decoration: none;
}
.guanzhu ul li{
	color: #464f54;
	display: inline-block;
	font-family: '微软雅黑';
	font-size: 12px;
	line-height: 1.5;
	margin-right: 26px;
}
.guanzhu ul li p:first-child{
	color:#d59a4f;
	font-size: 18px;
}
.guanzhu ul li:nth-child(odd){
	width: 100px;
	height: 100px;
}
.guanzhu ul li:nth-child(even){
	width: 130px;
	height: 100%;
	box-sizing: border-box;
	padding-top: 4px;
}
.guanzhu ul li:nth-child(2){
	width: 148px;
}
.guanzhu ul li:last-child{
	margin-right: 0;
}
.guanzhu ul li img{
	width: 100%;
}
#goIn {
    color: #d59a4f;
    text-decoration: none;
    text-decoration: none;
}


/* @media screen and (min-width:1200px) and (max-width:1600px) {
	.erweima{
		left: -10px;
	}

} */

@media screen and (min-width:1400px) and (max-width:1600px) {
	.banner {
	     background-position: -90px 0px;
	}
}
@media screen and (min-width:1200px) and (max-width:1399px) {
	.banner {
	    background-position: -150px 0px;
	}

}
