@charset "UTF-8";
/**** ubike ****/
body { font-family:"Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei",  "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif,'MicrosoftYaHeiLight','Microsoft YaHei Light','Microsoft YaHei';}
#chart { margin:20px 0; }
.title { font-weight:100; }
a{ color:#404040}
a:hover{ color:#ffae00; text-decoration:none}
p img { margin:0; }
li{list-style: none}
.clear{ clear:both}
nav, footer, section, article{display: block}
.min-1200{min-width: 1200px}
.w1200{width: 1200px; margin:0 auto}
.font-hide{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.ovh{overflow: hidden}
.auto{margin-left: auto;margin-right: auto}
.art_l{float: left}
.art_r{float: right}
.txa-l{text-align: left}
.txa-c{text-align: center}
.txa-r{text-align: right}
.dis-ib{display: inline-block}
.dis-b{display: block}
.ver-t{vertical-align: top}
.ver-m{vertical-align: middle}
.pis-re{position: relative}
.pis-ab{position: absolute}
.m5{margin: 5px}
.ml5{margin-left: 5px}
.mr5{margin-right: 5px}
.mt5{margin-top: 5px}
.mb5{margin-bottom: 5px}
.p5{padding: 5px}
.pl5{padding-left: 5px}
.pr5{padding-right: 5px}
.pt5{padding-top: 5px}
.pb5{padding-bottom: 5px}
.mr8{ margin-right: 8px}
.m10{margin: 10px}
.ml10{margin-left: 10px}
.mr10{margin-right: 10px}
.mt10{margin-top: 10px}
.mb10{margin-bottom: 10px}
.p10{padding: 10px}
.pl10{padding-left: 10px}
.pr10{padding-right: 10px}
.pt10{padding-top: 10px}
.pb10{padding-bottom: 10px}
.m15{margin: 15px}
.ml15{margin-left: 15px}
.mr15{margin-right: 15px}
.mt15{margin-top: 15px}
.mb15{margin-bottom: 15px}
.p15{padding: 15px}
.pl15{padding-left: 15px}
.pr15{padding-right: 15px}
.pt15{padding-top: 15px}
.pb15{padding-bottom: 15px}
.m20{margin: 20px}
.ml20{margin-left: 20px}
.mr20{margin-right: 20px}
.mt20{margin-top: 20px}
.mb20{margin-bottom: 20px}
.p20{padding: 20px}
.pl20{padding-left: 20px}
.pr20{padding-right: 20px}
.pt20{padding-top: 20px}
.pb20{padding-bottom: 20px}
.area{ padding:0 !important}
.bw0 .mi{ width:770px}
.moodfm_btn{ padding-left:0}
.mi td span{ padding-right:10px}
.mi .moodfm_input{ width:auto!important}
.clear:after{content: "";height: 0;display: block;clear: both;overflow: hidden}
#toptb{ background:#f0f2fa; overflow:hidden; min-width:1200px}
.nav_bar_box { background:#212329 url(../img/nav-bg.png) repeat-x; display:block; clear:both; min-width:1200px }
.nav_min .search { float:right; margin-right:10px; margin-top:10px; }
.nav_min .search input#s {background:none repeat scroll 0 0 rgb(255,255,255); color:rgb(85,85,85); border:medium none; float:right; }
.ubike_m_n,.ubike_m_n * { margin:0; padding:0; list-style:none outside none; }
.ubike_m_n { line-height:1; float:left; }
.ubike_m_n ul { position:absolute; top:-999em; width:8.8em; }
.ubike_m_n ul li { width:100%; }
.ubike_m_n li { float:left; margin-right:0; }
.ubike_m_n li.active a { color:#7b9baa; background:#212329 url(../img/nav-hover-bg.png) repeat-x; }
.ubike_m_n li li { margin-right:15px; }
.ubike_m_n li { background:none repeat scroll 0 0 transparent; }
.ubike_m_n a { display:block; text-decoration:none; z-index:11; }
.ubike_m_n li a { line-height:62px; font-size:18px; color:#a36d4b; padding:0 30px; }
.ubike_m_n li a:hover,
.ubike_m_n li.sfHover a { text-decoration:none; color:#7b9baa; background:#212329 url(../img/nav-hover-bg.png) repeat-x;}
.ubike_m_n li:hover { color:#ffae00; }
.ubike_m_n li li { background:none; }
.ubike_m_n li li li { background:none; }
.ubike_m_n a.sf-with-ul { padding-right:28px; min-width:1px; }
.bodycontainer.nav_mincontainer { z-index:10; }
.nav_content { margin:0 auto; background:none;z-index:13; }
.ubike_m_n a { color:#ffae00; }
.logo { float:left; margin-top:5px; overflow:hidden; }
.logo_ad{ overflow:hidden; }
.p_pop li{ border-bottom:1px solid #f7f7f7; }
.p_pop a{ padding:3px 10px; border-bottom:none;}
.ernav li a{ padding:3px 10px}




/**user**/
.ubike_list{ margin-bottom:60px}
.forum_list_box { margin:20px 0; }
.forum_list_tit a { font-size:32px; font-weight:400; margin-right:20px; }
.tl th,
.tl td { border-bottom:1px solid #EFEFEF; }
#threadlist{ background:#fff;}
.xl2{ background-image:none;}
#postlist .vwthd h1{ padding:0 20px}	
#scbar_type_menu { top:115px!important; }
.ct2_a .appl { margin-left:0!important; }
.ct2_a { padding-left:0!important; }
.bdl { margin-right:10px; }
.ct2 .sd { margin-right:0!important; }
.ct2 #chart,
.ct2 #an { margin:20px 0!important; } 
.ct2 .mn { width:880px!important; }
.ct2 .sd{ width:280px}
#ct, .ct2_a{ background:#fff;}
.tbn li.a{ background:#f2f2f2}
.mn{ margin-left:0 !important}
#mu ul{ background-color:#e0f1e9 !important; border:none !important; background-image:none;}
.tel_xin { height:28px; width:260px;  overflow:hidden; float:left; margin-top:26px; margin-left:40px; display:inline; padding-left:36px;}
.pnc, a.pnc{ background-image:none; border-color:#e6130d; background:#e6130d;}
.pls{ border-right:1px solid #eee}
.ad .pls{ background:#ddd}
.xl2 li{ width:48% !important}
.t_f, .t_f td{ line-height:22px}
.blue{ background:none; border:none;}
.red{ border:none; background:none;}

 /*forum*/
#forumleftside .bdl_h{background:#fff; display:block; font-weight:700; line-height:28px; overflow:hidden; text-indent:15px;}
#scbar input{height:28px!important; background:#f8f8f8; padding:0 0 0 10px; line-height: 22px!important; width:200px !important}
#ft{padding:20px 0px 50px; border-top: 2px solid #7d3028; background:#000; color:#666}
#ft em{margin-right: 10px;}


.news-tips p {
    line-height: 40px;
	clear: both;
}
.news-tips a {
    font-size: 14px;
    color: #626f80;
    display: block;
    float: left;
    text-decoration: none;
    overflow: hidden;
    width: 58%;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news-tips span {
    font-size: 14px;
    color: #626f80;
    display: block;
    float: left;
}
.news-tips ins {
    font-size: 14px;
    color: #626f80;
    display: block;
    float: right;
    text-decoration: none;
}
.news-r-top{
	width: 100%;
	height: 48px;
	background: url(../img/news-tabs-bg.png) 0 0 repeat;
	border-bottom:2px solid #445464;
}
.news-tabs{
	width: 80%;
	height: 48px;
	float: left;
}
.news-r-more{
	width: 20%;
	height: 48px;
	line-height: 48px;
	font-size: 12px;
	color: #626f80;
	float: left;
	font-family: '微软雅黑';
	cursor: pointer;
}
.news-r-more-icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 16px;
	background: url(../img/more.png) 0 0 no-repeat;
	background-size: cover;
}
.news-tabs li{
	width: 72px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	color: #626f80;
	font-family: '微软雅黑';
	cursor: pointer;
}
/*.news-tabs li:first-child{
	color: #ce8656;
	border-bottom:2px solid #ce8656;
}*/

.forum_box{
	width: 100%;
	heigh:auto;
	background: url(../img/con-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	z-index: 1;
	overflow: hidden;
}
.news-tabs-hover{
	color: #ce8656;
	border-bottom:2px solid #ce8656;
}
.news-tips{
	clear: left;
	display: none;
	padding: 0 22px 0 22px;
}
.news-tips li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom:1px solid #445464;
}
.news-tips li a{
	font-size: 14px;
	color: #626f80;
	text-decoration: none;
	font-family: '微软雅黑';
}
.news-tips li:first-child{
	height: 52px;
	line-height: 52px;
}
.news-tips li:last-child{
	border: none;
}
.news-tips li:first-child a{
	color: #ce8656;
	font-size: 24px;
}
.media-dynamics{
	float: left;
	width: 480px;
	height: 400px;
	box-sizing: border-box;
}
.media-txt{
	width: 100%;
	height: 27px;
	box-sizing: border-box;
	margin-top: 38px;
	margin-bottom: 15px;
	background: url(../img/mediadynamics.png) 0 0 no-repeat;
}
.media-con{
	width: 100%;
	height: 320px;
	background-color: rgba(255,255,255,0.6);
	box-sizing: border-box;
	padding-top: 12px;
	overflow: hidden;
}
.media-news{
	width: 440px;
	height: 168px;
	margin: 0 auto;
}
.media-news li{
	width: 100%;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #c9c8c7;
}
.media-news li:last-child{
	border: none;
}
.media-news li a{
	text-decoration: none;
	font-size: 14px;
	font-family: '微软雅黑';
	color: #000;
}
.media-news-con{
	display: block;
	float: left;
}
.media-news-date{
	display: block;
	float: right;
}
.peitu{
	width: 440px;
	height: 120px;
	margin: 0 auto;
}
.peitu1{
	float: left;
	width: 220px;
	height: 100%;
	background: url(../img/peitu01.jpg) 0 0 no-repeat;
	background-size: cover;
}
.peitu2{
	float: left;
	width: 220px;
	height: 100%;
	background: url(../img/peitu02.jpg) 0 0 no-repeat;
	background-size: cover;
}
.walkthrough{
	width: 680px;
	height: 400px;
	float: right;
}
.walkthrough-icon{
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding-top: 36px;
}
.walkthrough-txt{
	width: 211px;
	height: 28px;
	float: left;
	background: url(../img/walkthrough.png) 0 0 no-repeat;
}
.walkthrough-more{
	display: block;
	width: 58px;
	height: 16px;
	float: right;
	margin-right: 10px;
	background: url(../img/more-infomation.png) 0 0 no-repeat;
}
.walkthrough-con{
	clear: both;
	width: 100%;
	height: 320px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 20px;
	background: url(../img/walkthrough-bg.jpg) 0 0 repeat;
}
.walkthrough-lunbo{
	width: 235px;
	height: 282px;
	position: relative;
	box-sizing: border-box;
	float: left;
}
.walkthrough-pic{
	cursor: pointer;
	width: 100%;
}
.walkthrough-pot{
	position: absolute;
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	bottom: 0;
	left: calc(50% - 90px / 2);
}
.walkthrough-tabs{
	float: left;
	width: 424px;
	height: 282px;
	box-sizing: border-box;
	padding: 0 20px 0 20px;
	overflow: hidden;
}
.walkthrough-tabs .news-tabs{
	width: 100%;
	border-bottom:2px solid #445464;
	margin-bottom: 10px;
}
.walkthrough-tabs .news-tabs li{
	width: 90px;
}
.walkthrough-tabs .news-tabs .walkthrough-tabs-hover{
	color: #ce8656;
	border-bottom:2px solid #ce8656;
}
.walkthrough-tabs .news-tips{
	padding: 0;
}
.walkthrough-tabs .news-tips li{
	height: 38px;
	line-height: 38px;
	text-indent: 10px;
	border-bottom: 1px solid #c6c3c0;
}
.walkthrough-tabs .news-tips li:first-child{
    height: 38px;
    line-height: 38px;
}
.walkthrough-tabs .news-tips li:first-child a{
	font-size: 14px;
    color: #626f80;
}




/*footer */
.ubike_footer{width:100%;min-width:1200px;text-align:left;background:#fcfcfc; font:12px/1.5;color:#fff;clear:both; bottom:0; color:#999}
.ubike_footer a{text-decoration:none; font-size:12px; color:#999}
.ubike_footer a:hover{color:#959595}
.footer-box{color:#666;overflow:hidden;clear:both;margin-bottom:40px;}

#nv_search #ft{background:#fcfcfc;}
.ct3_a .mn{ width:785px}
.mi .moodfm_input{ background:none !important;border: 1px solid #eee;}
.mi #moodfm textarea{ width:480px}
.fl_g dt{ font-weight:100}
#plugin_menu {top: 150px !important}
#umnav_menu { margin-left:-80px !important; top: 60px !important;}
#mn_P1_menu li a {padding: 0 10px;}
.bm_h .o img{ margin-top:12px}
.m_l, .m_r { width: 8px !important;}
#pt{ margin-top:20px}
.pop_moremenu{ padding:5px}
.biduser{ width:988px}
#ubike_nav span a{ color:#c9b075}
#ubike_nav span a:hover{ color:#ffae00}
.text-center{ text-align:center}
.bottom_text{
margin-top: 20px;
padding-top: 20px;
border-top: 1px solid #3e3e3e;}
.bottom_text h3 {
    color: #fff;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
	font-weight:normal;
	font-size: 24px
}
.izl-rmenu{position:fixed; right:0; margin-right:20px; bottom:20px; padding-bottom:20px; z-index:999; }
.izl-rmenu .btn{width:72px; height:73px; margin-bottom:1px; cursor:pointer; position:relative;}
.izl-rmenu .btn-qq{background:url(../img/r_qq.png) 0px 0px no-repeat; background-color:#6da9de;}
.izl-rmenu .btn-qq:hover{background-color:#488bc7;}
.izl-rmenu a.btn-qq,.izl-rmenu a.btn-qq:visited{background:url(../img/r_qq.png) 0px 0px no-repeat; background-color:#6da9de; text-decoration:none; display:block;}
.izl-rmenu .btn-wx{background:url(../img/r_wx.png) 0px 0px no-repeat; background-color:#78c340;}
.izl-rmenu .btn-wx:hover{background-color:#58a81c;}
.izl-rmenu .btn-wx .pic{position:absolute; left:-160px; top:0px; display:none;width:160px;height:160px;}
.izl-rmenu .btn-phone{background:url(../img/r_phone.png) 0px 0px no-repeat; background-color:#fbb01f;}
.izl-rmenu .btn-phone:hover{background-color:#ff811b;}
.izl-rmenu .btn-phone .phone{background-color:#ff811b; position:absolute; width:160px; left:-160px; top:0px; line-height:73px; color:#FFF; font-size:18px; text-align:center; display:none;}
.izl-rmenu .btn-top{background:url(../img/r_top.png) 0px 0px no-repeat; background-color:#666666; display:none;}
.izl-rmenu .btn-top:hover{background-color:#444;}
#scrolltop{ display:none}
.top-border{ border-top:1px solid #e6e6e6; margin-bottom:100px}





